dash
dash_core_components
dash_html_components
dash_bootstrap_components
dash_daq
dash-extensions
flask_caching
plotly
numpy
git+git://github.com/Simardeep27/equadratures-1.git@feature_fitparam
gunicorn
pylibmc
func-timeout
whitenoise
numexpr
pandas
base64
github.com/Simardeep27/equadratures-1.git