@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');

body{
  background-color: #FFFFFF;
  font-family:"Raleway";
}

.navbar{
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
}

.navbar{
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
}


.navbar-light .nav-item.active .nav-link,
.NAV-light .nav-item:focus .nav-link,
.NAV-light .nav-item:hover .nav-link {
        color: primary;
}

.navbar-light .nav-item .nav-link{
        font-size: medium;
}

.rc-slider-track {
  background-color: #4663ac;
}

.Side-text{
text-align: center;
text-shadow: 2px 2px 4px #63C5DA;
color: #63C5DA;
size:10px;
font-size: 20px;
}

.AT-button{
    color: #4663ac;
    text-align: center;
    padding: 5px 10px;
    border: none;
    background: none;
    background-color: transparent;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #4663ac;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    color: #000000;
}

.m-1{
  color:black;
  background-color: transparent;
}
.m-1 .VirtualizedSelectFocusedOption {
}



.AT-button:hover{
  box-shadow: inset 400px 0 0 0 #800080;
}

.ip_field{
  box-sizing: border-box;
  border: 3px solid #4663ac;
  border-radius: 4px;
  background: none;
  background-color: transparent;
}

::placeholder{
  color:#000000;
}

.link:active{
  border-bottom: 3px solid red;
}
